.header {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.header-menu a {
  text-decoration: none;
  color: #fafafa;
  font-size: 1.12rem;
  line-height: 1.3rem;
  padding: 10px 20px;
  display: block;
}

@media (max-width: 900px) {
  .header {
    flex-direction: column;
    gap: 30px;
    padding: 20px;
  }

  .header a {
    background: #0f0f0f;
  }
}
