.position {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro h1 {
  color: #fafafa;
  font-size: 6rem;
  width: 625px;
  height: 220px;
  z-index: 1;
}

.intro span {
  color: #b993ff;
  z-index: 1;
}

.intro p {
  color: #fafafa;
}

.pontilhado {
  position: absolute;
  width: 52px;
  height: 52px;
  left: 1250px;
  top: 220px;
}

.leao {
  width: 300px;
  height: 297px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: -1;
}

.title {
  width: 40rem;
  margin-top: 80px;
  align-content: center;
  left: 80px;
}

.title-description {
  width: 26rem;
  margin-top: 20px;
  margin-bottom: 40px;
}

.box-alinhamento-dois {
  position: relative;
  width: 873px;
  height: 489px;
}

.box-alinhamento-dois::before {
  content: url(./img/pontilhado.svg);
  width: 52px;
  height: 52px;
  position: absolute;
  right: 100px;
}

/* @media (max-width: 900px) {
  .box-alinhamento-dois::before {
    display: none;
  }

  .leao {
    display: none;
  }

  .box-alinhamento-dois {
    width: 300px;
    height: 190px;
    gap: 10px;
  }

  .box-alinhamento-dois h1 {
    font-size: 40px;
    flex-direction: column;
  }

  .title-description {
    width: 16rem;
    margin-top: 0;
    margin-bottom: 0;
  } */
/* } */
